.testimonialContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.testimonialImg {
	width: 10rem;
	object-fit: contain;
}

.nameText {
	font-size: 2.5rem;
	font-weight: 200;
	color: var(--c-text-400);
}

.testimonialText {
	margin-top: 14rem;
	max-width: 90rem;
	line-height: 3.2rem;
	font-weight: 500;
	height: 17rem;
}

.dotsWrapper {
	display: flex;
	margin-top: 3rem;
	gap: 2.5rem;
}

.dot {
	transition: 0.5s ease-in-out;
	cursor: pointer;
	width: 1.5rem;
	height: 1.5rem;
	background-color: var(--c-icon-400);
}

.dot:hover {
	transform: scale(1.2);
	background-color: var(--c-icon-hover-400);
}

.arrow {
	position: absolute;
	transition: 0.5s ease-in-out;
	cursor: pointer;
	color: var(--c-icon-400);
	font-size: 8rem;
}

.arrow:hover {
	transform: scale(1.1);
}

.arrowRight {
	right: 0%;
	top: 30%;
}
.arrowLeft {
	left: 0%;
	top: 30%;
}

@media (max-width: 64em) {
	.testimonialText {
		margin-top: 8rem;
		max-width: 80%;
		line-height: 3.2rem;
		min-height: 30rem;
	}

	.arrow {
		font-size: 4rem;
	}

	.arrowRight {
		top: 20%;
	}
	.arrowLeft {
		top: 20%;
	}
}

@media (max-width: 30em) {
	.testimonialText {
		margin-top: 6rem;
		max-width: 80%;
		line-height: 3.2rem;
		min-height: 40rem;
	}

	.arrowRight {
		top: 25%;
	}
	.arrowLeft {
		top: 25%;
	}

	.arrow {
		font-size: 2.5rem;
	}
}
