.header {
	grid-column: 2 / 14;
	height: 8rem;
}

.navLogoWrapper {
	display: flex;
	align-items: center;
	gap: 1rem;
	background-color: #fff;
}

.logoText {
	font-weight: 700;
}

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}

.navList {
	display: flex;
	gap: 1.2rem;
}

.link {
	transition: 0.5s all ease-in-out;
	padding: 0.6rem 1rem;
	background-color: var(--clr-green-2-400);
	color: #fff;
	font-weight: 600;
}

link:visited {
	color: orange;
}

.active {
	padding: 0.6rem 1rem;
	background-color: var(--clr-green-400);
	color: #fff;
}
