.header {
	grid-column: 2 / 14;
	height: 8rem;
}

.navLogoWrapper {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.logo {
	width: 4rem;
}

.toggleThemeContainer {
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: 0.8rem 1rem;
}

.themeText {
	margin-left: 0.2rem;
	color: var(--c-text-link-400);
	font-weight: 600;
}

.themeIcon {
	font-size: 2rem;
	color: var(--c-icon-400);
}

.toggleThemeContainer:hover {
	background-color: var(--bg-link-hover-400);

	.themeText {
		color: var(--c-link-hover-400);
	}
}

.themeLight {
}
.themeDark {
}

.logoText {
	color: var(--c-text-400);
	font-weight: 700;
}

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}

.navList {
	display: flex;
	align-items: center;
	gap: 1.2rem;
}

.link {
	transition: 0.5s all ease-in-out;
	padding: 0.8rem 1rem;
	color: var(--c-text-link-400);
	font-weight: 600;
}

.link:hover {
	background-color: var(--bg-link-hover-400) !important;
	color: var(--c-link-hover-400);
}

.active {
	padding: 0.8rem 1rem;
	background-color: var(--bg-link-active-400);
	color: var(--c-link-active-400);
}

.accountContainer {
	position: relative;
	display: flex;
	align-items: center;
	gap: 0.4rem;
	cursor: pointer;
	padding: 0.8rem 1rem;
}

.accountContainer:hover {
	background-color: var(--bg-link-hover-400) !important;
}

.accountIconUser {
	font-size: 2.5rem;
	color: var(--c-icon-400);
}
.accountIconArrow {
	font-size: 2.5rem;
	color: var(--c-icon-400);
}

.accountText {
	color: var(--c-text-link-400);
	font-weight: 600;
}
.accountText:hover {
	color: var(--c-link-hover-400);
}

.accountListModal {
	position: absolute;
	width: 25rem;
	background-color: var(--bg-body-400);
	right: 0;
	top: 5.5rem;
	z-index: 3;
	padding: 2rem;
	box-shadow: var(--box-shadow-400);
	border-radius: 1rem;
}

.accountLink {
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.5s all ease-in-out;
	margin-bottom: 1.5rem;
	padding: 1rem;
}

.accountLink:hover {
	background-color: var(--bg-link-hover-400);
}

.accountLinkLogout:hover {
	background-color: var(--c-error-400);
}

.accountSettingIcon {
	font-size: 2.5rem;
	color: var(--c-icon-400);
	// color: var(--bg-section-400) !important;
}
.accountModalText {
	color: var(--c-text-link-400);
	font-size: 1.6rem;
	font-weight: 600;
}

.modalLine {
	margin: 1.5rem 0;
	border-top: 1px dotted #000;
}

.navListHamburger {
	display: none;
}

// / 760px 1024px
@media (max-width: 64em) {
	.header {
		position: sticky;
		top: 0;
		background-color: var(--bg-body-400);
		z-index: 5;
		-webkit-transition: position 10s;
		-moz-transition: position 10s;
		-ms-transition: position 10s;
		-o-transition: position 10s;
	}

	.navListHamburger {
	}
	.nav {
		display: none;
	}
	.logo {
		width: 3rem;
	}

	.logoText {
		font-size: 1.5rem;
	}

	.navListHamburger {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		gap: 1rem;
	}

	.hamburgerList {
		right: 2rem;
		position: absolute;
		display: flex;
		align-items: center;
		gap: 2rem;
		z-index: 10;
	}

	.toggleThemeContainer {
		// margin-right: 100rem;
	}

	.linkHamburger {
	}
}
