.login {
	grid-column: 2 / 14;
	justify-self: center;
	background-color: var(--bg-form-400);
	width: 40%;
	min-height: 60rem;
	border-radius: 2rem;
	margin-top: 6rem;
}

.logoImg {
	margin: 0 auto;
	width: 4rem;
	margin-top: 2rem;
}

.form {
	padding: 2.5rem;
}

.linkContainer {
	text-align: center;
	margin-bottom: 1rem;
}

.spanLinkText {
	margin-right: 0.5rem;

	color: var(--c-text-400);
}

.error {
	color: var(--c-error-400);
}

.linkText {
	font-weight: 600;
	color: blue;
}

@media (max-width: 64em) {
	.login {
		width: 80%;
		min-height: 50rem;
	}
}

@media (max-width: 30em) {
	.login {
		width: 100%;
		min-height: 50rem;
	}
}
