.titleH3 {
	font-size: 3.2rem;
	font-weight: 500;
	line-height: 3.4rem;
	letter-spacing: -3%;
	color: var(--c-title-400);
}

@media (max-width: 64em) {
	.titleH3 {
		font-size: 3rem;
		line-height: 110%;
	}
}

@media (max-width: 30em) {
	.titleH3 {
		font-size: 1.8rem;
		line-height: 100%;
	}
}
