/* Error404.module.scss */

.errorPage {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: var(--bg-body-400);
}

.errorContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 800px;
	width: 90%;
	background-color: var(--c-p-400);
	box-shadow: var(--box-shadow-400);
	border-radius: 8px;
	padding: 20px;
}

.errorContent {
	flex: 1;
	text-align: center;
	padding: 20px;
}

.errorTitle {
	font-size: 4rem;
	margin: 0;
	color: var(--c-error-400);
}

.errorMessage {
	font-size: 1.5rem;
	color: var(--c-text-400);
}

.backLink {
	display: flex;
	justify-content: center;
}

.btn {
	width: 50% !important;
}

.errorImage {
	flex: 1;
	text-align: center;

	img {
		max-width: 100%;
		height: auto;
	}
}
