.product {
	background-color: var(--bg-form-400);
	width: 30%;
	min-height: 70rem;
	border-radius: 2rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: var(--box-shadow-400);
	padding: 2rem;
}

.sessionPacketImg {
	// width: 100%;
	max-height: 40rem;
	width: 100%;
}

.title {
	margin: 1rem 0;
}

.price {
	font-size: 2.5rem;
}

.btnCancelWrapper {
	display: block;
	margin-top: 2rem;
}

@media (max-width: 64em) {
	.product {
		top: 45%;
		width: 80%;
	}
	.sessionPacketImg {
		max-height: 35rem;
	}
}

@media (max-width: 30em) {
	.product {
		width: 100%;
		min-height: 60rem;
	}
	.sessionPacketImg {
		max-height: 30rem;
	}
}
