.btn {
	border: none;
	transition: 0.5s all ease-in-out;
	font-weight: 600;
	border: none;
	color: #fff;
	border-radius: 0.6rem;
	padding: 0.8rem 0;
	height: 4.8rem;
	cursor: pointer;
	width: 100%;
	background-color: var(--c-error-hover-400);
	box-shadow: var(--box-shadow-400);
}

.btn:hover {
	background-color: var(--c-error-400);
	// color: #000;
}
