.pricing {
	margin-top: var(--mt-section-400);
	grid-column: 2 / 14;
	padding: 10rem 0;
}

.titleSpanText {
	color: var(--c-a-400);
}

.pricingTitle {
	grid-column: 1 / 14;
}

.pricingCardContainer {
	margin-top: 8rem;
	grid-column: 1 / -1;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 4rem;
}

@media (max-width: 64em) {
}
