.pricing {
	margin-top: var(--mt-section-400);
	grid-column: 2 / 14;
	padding: 10rem 0;
}

.pricingTitle {
	grid-column: 1 / 14;
}

.pricingCardContainer {
	margin-top: 8rem;
	grid-column: 1 / 14;
	display: flex;
	flex-wrap: wrap;
	gap: 4rem;
	justify-content: center;
}
