// /* BenefitSection.module.scss */

// .benefitSection {
// 	background: #f9f9f9;
// 	padding: 60px 0;
// 	text-align: center;
// }

// .benefitContainer {
// 	max-width: 1200px;
// 	margin: 0 auto;
// 	display: flex;
// 	justify-content: space-between;
// 	flex-wrap: wrap;
// }

// .benefitItem {
// 	flex: 1;
// 	max-width: 30%;
// 	margin: 20px;
// 	text-align: center;
// 	padding: 20px;
// 	background: #fff;
// 	border: 1px solid #ccc;
// 	border-radius: 8px;
// 	transition: transform 0.3s;

// 	&:hover {
// 		transform: translateY(-10px);
// 	}
// }

// .benefitIcon {
// 	width: 50px;
// 	height: 50px;
// 	margin: 0 auto;
// }

// .benefitTitle {
// 	font-size: 1.5rem;
// 	margin: 10px 0;
// 	color: #333;
// }

// .benefitDescription {
// 	font-size: 1rem;
// 	color: #777;
// }

/* BenefitSection.module.scss */

.benefitSection {
	background: #f9f9f9;
	padding: 60px 0;
	text-align: center;
}

.benefitContainer {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.benefitItem {
	flex: 1;
	max-width: calc(33.333% - 20px);
	margin: 20px 0;
	padding: 20px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 8px;
	transition: transform 0.3s;

	&:hover {
		transform: translateY(-10px);
	}
}

.benefitIcon {
	width: 60px;
	height: 60px;
	margin: 0 auto;
}

.benefitTitle {
	font-size: 1.5rem;
	margin: 10px 0;
	color: #333;
}

.benefitDescription {
	font-size: 1rem;
	color: #777;
}
