.newsletter {
	grid-column: 1 / -1;
	margin-top: var(--mt-section-400);
	height: 18rem;
	align-content: center;
	background-color: var(--bg-section-400);
}

.newsLetterWrapper {
	grid-column: 2 / 14;
	display: flex;
	justify-content: space-between;
}

.form {
}

.formControl {
	display: flex;
	align-items: center;
}
.inputNewsletter {
	width: 35rem;
	margin-right: 2rem;
}

.inputNewsletter:focus {
	outline: none;
}

.btnNewsletter {
	text-transform: none;
	align-self: flex-end;
	font-weight: 500;
}

.errorPlaceholder {
	opacity: 0;
}

.error {
	color: var(--c-error-400);
}

.successMessage {
	margin-top: 1rem;
	color: var(--c-success-400);
	font-weight: 600;
}

@media (max-width: 64em) {
	.newsletter {
		height: 100%;
	}
	.newsLetterWrapper {
		grid-column: 2 / 14;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}
}

@media (max-width: 30em) {
	.newsletter {
	}
	.newsLetterWrapper {
		margin-left: 2rem;
	}
	.formControl {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.btnNewsletter {
		align-self: flex-start;
		margin-bottom: 1rem;
	}

	.inputNewsletter {
		width: 30rem;
		margin-right: 0;
		margin-bottom: 1rem;
	}
}
