.newsletter {
	grid-column: 1 / -1;
	margin-top: var(--mt-section-400);
	height: 18rem;
	align-content: center;
	background-color: var(--bg-section-400);
}

.newsLetterWrapper {
	grid-column: 2 / 14;
	display: flex;
	justify-content: space-between;
}

.form {
}

.formControl {
	display: flex;
	align-items: center;
}
.inputNewsletter {
	width: 35rem;
	margin-right: 2rem;
}

.inputNewsletter:focus {
	outline: none;
}

.btnNewsletter {
	text-transform: none;
	// height: 6rem;
	align-self: flex-end;
	font-weight: 500;
}

.errorPlaceholder {
	opacity: 0;
}

.error {
	color: var(--c-error-400);
}

.successMessage {
	margin-top: 1rem;
	color: var(--c-success-400);
	font-weight: 600;
}
