.newsletter {
	grid-column: 1 / -1;
	margin-top: var(--mt-section-400);
	height: 18rem;
	align-content: center;
	background-color: var(--bg-section-400);
}

.newsLetterWrapper {
	grid-column: 2 / 14;
	display: flex;
	justify-content: space-between;
}

.inputNewsletter {
	width: 35rem;
	padding: 0.6rem 1rem;
	margin-right: 2rem;
	border-radius: 0.8rem;
}

.inputNewsletter:focus {
	outline: none;
}

.btnNewsletter {
	text-transform: none;
	font-weight: 500;
}
