.infoContainer {
	background-color: var(--bg-body-400);
}
.appointmentsTitle {
	margin-bottom: 2rem;
	color: var(--c-text-400);
}

.dateContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 8rem;
	background-color: var(--bg-section-400);
	margin-bottom: 2rem;
}

.textWrapper {
	display: flex;
}

.infoPlaceholder {
	font-size: 2rem;
	font-weight: 600;
	margin-right: 2rem;
}
.dateText {
	width: 15em;
	margin: 0 4rem 0 2rem;
}

.dateSpan {
	font-weight: 600;
	color: var(--c-a-400);
}

.btnWrapper {
	width: 10%;
	// margin-left: auto;
	margin-right: 2rem;
}

.btnDisable {
	background: var(--c-s-400);
}

.btnDisable:hover {
	background: var(--c-s-400);
}
