.myService {
	grid-column: 2 / 14;
	margin-top: var(--mt-section-400);
}

.titleSpanText {
	color: var(--c-a-400);
}

.containerWrapper {
	margin-top: 6rem;
	display: flex;
}
.textContainer {
	margin: auto 0;
	flex: 1;
}
.imgWrapper {
	flex: 1;
}

.titleIconContainer {
	display: flex;
	align-items: center;
}

.benefitsIcon {
	color: var(--c-a-400);
	font-size: 2.5rem;
	margin-right: 2rem;
}

.paragraph {
	width: 80%;
	margin-left: 5rem;
	margin-bottom: 2rem;
}
