.testimonialsContainer {
	margin-top: var(--section-mt);
	grid-column: 1 / -1;
	background-color: var(--clr-section-bg);
	padding: 10rem 0;
	background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(176, 229, 208, 1) 42%, rgba(92, 202, 238, 0.41) 93.6%);
}

.testimonialWrapper {
}

.testimonialTitle {
	grid-column: 2 / 6;
	max-width: 45rem;
}

.sliderWrapper {
	grid-column: 2 / 14;
	margin-top: 8rem;
	display: flex;
	justify-content: center;
	position: relative;
}
