.testimonialsContainer {
	margin-top: var(--mt-section-400);
	grid-column: 1 / -1;
	padding: 10rem 0;
	background-color: var(--bg-section-400);
}

.testimonialTitle {
	grid-column: 2 / 6;
	max-width: 60rem;
}

.sliderWrapper {
	grid-column: 2 / 14;
	margin-top: 8rem;
	display: flex;
	justify-content: center;
	position: relative;
}
