.benefits {
	grid-column: 2 / 14;
	margin-top: var(--mt-section-400);
}

.title {
	margin-bottom: 4rem;
}

.titleIconContainer {
	display: flex;
	justify-content: space-between;
	align-content: center;
	margin-bottom: 2rem;
}

.benefitsIcon {
	color: var(--c-icon-400);
	font-size: 3.4rem;
}
.benefitsContainer {
	display: grid;
	// grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}

.benefitsControl {
	min-height: 20rem;
	background-color: var(--c-p-400);
	padding: 2rem;
}

.controlTitle {
	font-weight: 600;
}

.titleSpanText {
	color: var(--c-a-400);
}

@media (max-width: 64em) {
	.benefitsControl {
		height: 100%;
		padding: 2rem;
	}

	.benefitsContainer {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 30em) {
	.benefitsContainer {
		grid-template-columns: 1fr;
		gap: 1rem;
	}

	.benefitsIcon {
		font-size: 2rem;
	}
}
