.servicesHome {
	grid-column: 2 / 14;
	margin-top: var(--mt-section-400);
}

.servicesWrapper {
	margin-top: 4rem;
	background-color: var(--c-p-400);
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.serviceContainer {
	display: flex;
	align-items: center;
	gap: 1rem;
}
.serviceIcon {
	color: var(--c-a-400);
}

.servicesTextContainer {
	padding: 4rem;
}

.ghostButton {
	margin: 2rem 0 0 2rem;
}
.supportImg {
	height: 100%;
}
