.qnaCard {
	margin-top: 4rem;
}

.questionWrapper {
	display: flex;
	justify-content: space-between;
}
.icon {
	cursor: pointer;
}
.question {
	font-weight: 600;
}

.para {
	margin-top: 1rem;
	width: 90%;
}
