.qnaCard {
	margin-top: 4rem;
}

.questionWrapper {
	display: flex;
	justify-content: space-between;
}
.icon {
	font-size: 3rem;
	cursor: pointer;
	color: var(--c-icon-400);
}
.icon:hover {
	color: var(--c-icon-hover-400);
}
.question {
	font-weight: 600;
	width: 90%;
}

.para {
	margin-top: 1rem;
	width: 90%;
}
