.contact {
	background-color: var(--bg-form-400);
	width: 30%;
	min-height: 62rem;
	border-radius: 2rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.logoImg {
	margin: 0 auto;
	width: 4rem;
	margin-top: 2rem;
}

.form {
	padding: 2.5rem;
}

.formControl {
}

.form label {
	font-weight: 500;
	padding: 1rem 0 0.5rem 0;
	display: block;
}

.form input {
	outline: none;
	font-weight: 500;
	background-color: transparent;
	color: #000;
	height: 3.7rem;
	// border: 1px solid #000;
	width: 100%;
	padding: 1.6rem;
}

.form input:active,
.form input:focus {
	border: 1px solid #000;
	outline: auto;
}

.inputPasswordContainer {
	position: relative;
}
.eyeIcon {
	position: absolute;
	right: 1rem;
	top: 0.5rem;
	cursor: pointer;
}

.textarea {
	display: block;
	width: 100%;
	height: 10rem;
	resize: none;
	border-radius: 0.5rem;
	padding: 1rem;
}

.error {
	color: var(--c-error-400);
}

.successMessage {
	margin-top: 1rem;
	text-align: center;
	color: var(--c-success-400);
}

.reCaptchaWrapper {
	margin: 1rem 0;
	display: flex;

	justify-content: center;
}
