.serviceHero {
	grid-column: 1 / -1;
	background-color: var(--clr-section-bg);
	height: 67rem;
	align-content: end;
	background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(176, 229, 208, 1) 42%, rgba(92, 202, 238, 0.41) 93.6%);
}

.heroTextWrapper {
	grid-column: 2 / 8;
	margin: auto 0.1rem;
}

.heroImgWrapper {
	grid-column: 8 / 14;
	justify-self: end;
}
.para {
	margin: 2rem 0;
}

.heroImg {
	max-height: 60rem;
}
