.serviceHero {
	grid-column: 1 / -1;
	height: 67rem;
	align-content: end;
	background-color: var(--bg-section-400);
}

.titleSpanText {
	color: var(--c-a-400);
}

.heroTextWrapper {
	grid-column: 2 / 8;
	margin: auto 0.1rem;
}

.heroImgWrapper {
	grid-column: 8 / 14;
	justify-self: end;
}
.para {
	margin: 2rem 0;
}

.heroImg {
	max-height: 60rem;
}

@media (max-width: 64em) {
	.serviceHero {
		height: 100%;
		padding: 4rem 0;
	}
	.heroTextWrapper {
		grid-column: 2 / 10;
		margin: auto 0.1rem;
	}
	.heroImgWrapper {
		grid-column: 10 / 14;
		justify-self: end;
	}
}

@media (max-width: 30em) {
	.heroImgWrapper {
		display: none;
	}

	.heroTextWrapper {
		grid-column: 2 / 14;
		margin: 0;
	}
}
