.serviceHero {
	grid-column: 1 / -1;
	height: 67rem;
	align-content: end;
	background-color: var(--bg-section-400);
}

.heroTextWrapper {
	grid-column: 2 / 8;
	margin: auto 0.1rem;
}

.heroImgWrapper {
	grid-column: 8 / 14;
	justify-self: end;
}
.para {
	margin: 2rem 0;
}

.heroImg {
	max-height: 60rem;
}
