.passwordResetLogin {
	background-color: var(--bg-form-400);
	width: 30%;
	min-height: 40rem;
	border-radius: 2rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.logoImg {
	margin: 0 auto;
	width: 4rem;
	margin-top: 2rem;
}

.form {
	padding: 2.5rem;
}

.error {
	margin-top: 0.5rem;
	color: var(--c-error-400);
}

.successMessage {
	margin-top: 1rem;
	text-align: center;
	color: var(--c-success-400);
	font-size: 2.2rem;
}
