.testimonialsContainer {
	grid-column: 2 / 14;
	margin-top: var(--section-mt);
}

.testimonialTitle {
	max-width: 53rem;
}

.carouselWrapper {
	width: 10rem;
}
.testimonialImg {
	width: 8rem;
	height: 8rem;
}
