.linkClose {
	position: absolute;
	top: 2rem;
	right: 2rem;
}

.linkIconClose {
	font-size: 3rem;
	padding: 0.4rem;
	transition: 0.5s all ease-in-out;
	border-radius: 50%;
	color: var(--c-text-400);
}
.linkIconClose:hover {
	background-color: var(--c-error-400);
	color: var(--bg-body-400);
}
