.titleH2 {
	font-size: 5rem;
	font-weight: 500;
	line-height: 7rem;
	letter-spacing: -3%;
	color: var(--c-title-400);
}

@media (max-width: 64em) {
	.titleH2 {
		font-size: 4rem;
		line-height: 110%;
	}
}

@media (max-width: 30em) {
	.titleH2 {
		font-size: 2rem;
		line-height: 100%;
	}
}
