.blog {
	margin-top: var(--mt-section-400);
	grid-column: 2 / 14;
	display: flex;
	flex-direction: column;
}

.blogsWrapper {
	margin-top: 8rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 4rem;
	transition: 0.5s all ease-in-out;
}

.testimonialTitle {
	max-width: 60rem;
}

.btnBlog {
	background-color: var(--c-a-400);
	text-transform: none;
	margin-top: 4rem;
	width: fit-content;
}

.blogImgWrapper {
	margin-bottom: 2rem;
}

.blogImg {
	width: 100%;
	max-height: 22rem;
}
.blogCardWrapper {
	max-width: 36rem;
	background-color: var(--c-p-400);
}

.blogCardWrapper:hover {
	// background-color: var(--c-s-400);
}

.blogHeader {
	height: 8rem;
	padding: 2rem 2rem 0 2rem;
}

.textWrapper {
	margin: 2rem;
}

.bogText {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.blogLink {
	display: flex;
	align-items: center;
	color: blue;
	gap: 1rem;
	margin: 0 0 2rem 2rem;
	transition: 0.5s color ease-in-out;
}

.blogLink:hover {
	color: var(--c-a-400);
	font-weight: 600;
}
.linkText {
}
.arrowIcon {
	font-size: 2rem;
}

.titleTextSpan {
	color: var(--c-a-400);
}
