.popupModal {
	background-color: rgba($color: #000000, $alpha: 0.8);
}

.popupModalContainer {
	background-color: var(--bg-form-400);
	width: 40%;
	min-height: 40rem;
	border-radius: 2rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.popupModalTitle {
	text-align: center;
	margin: 4rem 0;
}

.inputWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 15rem;
}

.inputIconContainer {
	position: relative;
	width: 50%;
}

.inputPassword {
	margin: 2rem 0 1rem 0;
	width: 100%;
	height: 3.7rem;
	padding: 1.6rem;
}

.eyeIcon {
	position: absolute;
	right: 1rem;
	top: 2.5rem;
	cursor: pointer;
	font-size: 2.5rem;
}

.eyeShow:hover {
	color: var(--c-p-400) !important;
}

.eyeHide {
	color: red !important;
}

.btnWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btnModifier {
	width: 50% !important;
}

.errorMessage {
	color: var(--c-error-400);
	width: 50%;
}
