.qna {
	margin-top: var(--mt-section-400);
	grid-column: 2 / 14;
}

.qnaCardContainer {
}

.contactWrapper {
	margin-top: 8rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contactText {
	margin: 2rem 0;
}
.btnContact {
	text-transform: none;
}

.titleTextSpan {
	color: var(--c-a-400);
}
