/* SuccessPurchase.module.scss */

.successPage {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: var(--bg-body-400);
}

.successContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 80rem;
	width: 90%;

	background-color: var(--c-p-400);
	box-shadow: var(--box-shadow-400);
	border-radius: 8px;
	padding: 20px;
}

.successContent {
	flex: 1;
	text-align: center;
	padding: 20px;
}

.successTitle {
	font-size: 4rem;
	margin: 0;
	color: var(--c-success-400);
}

.successMessage {
	font-size: 1.5rem;
	color: var(--c-text-400);
}

.successImage {
	flex: 1;
	text-align: center;

	img {
		max-width: 100%;
		height: auto;
	}
}

.btn {
	width: 50% !important;
}
