.register {
	background-color: var(--bg-form-400);
	grid-column: 2 / 14;
	justify-self: center;
	width: 40%;

	height: 100%;
	border-radius: 2rem;
	margin-top: 6rem;
	z-index: 1;
}

.logoImg {
	margin: 0 auto;
	width: 4rem;
	margin-top: 2rem;
}

.authSocialContainer {
	display: flex;
	justify-content: space-evenly;
	gap: 2rem;
	margin-top: 4rem;
}

.socialMediaControl {
	width: 15rem;
	display: flex;
	align-items: center;
	border: 1px solid var(--b-btn-form-400);
	padding: 1rem;
	cursor: pointer;
}

.authIcon {
	width: 3rem;
	margin-right: 1rem;
}
.authText {
	color: var(--c-text-400);
	font-size: 1.8rem;
}

.line {
	width: 80%;
	text-align: center;
	border-bottom: 1px solid #000;
	line-height: 0.1em;
	// margin: 1rem 0 2rem;
	margin: 4rem auto 0 auto;
}
.lineText {
	background-color: var(--bg-form-400);
	padding: 0 10px;
}

.successMessage {
	margin-top: 1rem;
	text-align: center;
	color: var(--c-success-400);
}

.form {
	padding: 2.5rem;
}

.linkContainer {
	text-align: center;
}

.linkText {
	color: blue;
	font-weight: 600;
}

.spanLinkText {
	margin-right: 0.5rem;
	color: var(--c-text-400);
}

.reCaptchaWrapper {
	margin: 1rem 0;
	display: flex;
	justify-content: center;
}

.error {
	color: var(--c-error-400);
}

@media (max-width: 64em) {
	.register {
		width: 80%;
		min-height: 60rem;
	}
}

@media (max-width: 30em) {
	.register {
		width: 100%;
	}

	.authSocialContainer {
		gap: 1rem;
		margin-top: 4rem;
	}

	.socialMediaControl {
		width: 13rem;
	}

	.authIcon {
		width: 2rem;
		margin-right: 0.5rem;
	}
	.authText {
		font-size: 1.4rem;
	}
}
