.register {
	background-color: #fff;
	width: 30%;
	min-height: 60rem;
	border-radius: 2rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.logoImg {
	margin: 0 auto;
	width: 4rem;
	margin-top: 2rem;
}

.successMessage {
	margin-top: 1rem;
	text-align: center;
	color: var(--clr-green-400);
}

.form {
	padding: 2.5rem;
}

.formControl {
}

.form label {
	font-weight: 500;
	padding: 1rem 0 0.5rem 0;
	display: block;
}

.form input {
	outline: none;
	font-weight: 500;
	background-color: transparent;
	color: #000;
	height: 3.7rem;
	// border: 1px solid #000;
	width: 100%;
	padding: 1.6rem;
}

.form input:active,
.form input:focus {
	border: 1px solid #000;
	outline: auto;
}

.inputPasswordContainer {
	position: relative;
}
.eyeIcon {
	position: absolute;
	right: 1rem;
	top: 0.5rem;
	cursor: pointer;
	font-size: 2.5rem;
}

.eyeShow:hover {
	color: var(--clr-green-400) !important;
}

.eyeHide {
	color: red !important;
}

.error {
	color: var(--clr-red-1);
}

.linkContainer {
	text-align: center;
}

.linkText {
	color: blue;
}
