.register {
	background-color: var(--bg-form-400);
	grid-column: 2 / 14;
	justify-self: center;
	width: 40%;
	min-height: 60rem;
	border-radius: 2rem;
	margin-top: 6rem;
	z-index: 1;
}

.logoImg {
	margin: 0 auto;
	width: 4rem;
	margin-top: 2rem;
}

.successMessage {
	margin-top: 1rem;
	text-align: center;
	color: var(--c-success-400);
}

.form {
	padding: 2.5rem;
}

.linkContainer {
	text-align: center;
}

.linkText {
	color: blue;
	font-weight: 600;
}

.spanLinkText {
	margin-right: 0.5rem;
	color: var(--c-text-400);
}

.reCaptchaWrapper {
	margin: 1rem 0;
	display: flex;
	justify-content: center;
}

.error {
	color: var(--c-error-400);
}

@media (max-width: 64em) {
	.register {
		width: 80%;
		min-height: 60rem;
	}
}

@media (max-width: 30em) {
	.register {
		width: 100%;
	}
}
