.blog {
	grid-column: 2 / 14;
	// margin-top: var(--mt-section-400);
}

.blogWrapper {
	display: flex;
	justify-content: center;
}

.blogImgWrapper {
	margin-bottom: 2rem;
}

.blogImg {
	width: 100%;
	max-height: 22rem;
}
.blogCardWrapper {
	cursor: pointer;
	transition: 0.4s all ease-in-out;
	max-width: 36rem;
	background-color: var(--c-p-400);
}

.blogCardWrapper:hover {
	background-color: var(--c-a-400);
	transform: scale(1.02);
}

.blogHeader {
	height: 8rem;
	padding: 2rem 2rem 0 2rem;
}

.textWrapper {
	margin: 2rem;
}
.bogText {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.articlesWrapper {
	margin-top: 10rem;
	display: flex;
	flex-wrap: wrap;
	gap: 4rem;
}
