.title {
	font-size: 2rem;
	font-weight: 500;
	color: #041434;
	line-height: 3.4rem;
	letter-spacing: -3%;
	color: var(--c-title-400);
}

@media (max-width: 64em) {
	.title {
		font-size: 2.5rem;
		line-height: 110%;
	}
}

@media (max-width: 30em) {
	.title {
		font-size: 2rem;
		font-size: 1.6rem;
		line-height: 100%;
	}
}
