.hero {
	grid-column: 1 / -1;
	height: 67rem;
	position: relative;
	align-content: end;
	background-color: var(--clr-background);
}

.heroTextWrapper {
	grid-column: 2 / 8;
	margin: auto 0.1rem;
}

.para {
	margin: 2rem 0;
}

.heroImgWrapper {
	grid-column: 8 / 14;
	justify-self: end;
}

.heroImg {
	// max-height: 46rem;
}

.heroSuccessImg {
	position: absolute;
	top: 5%;
	right: 25%;
	width: 40rem;
	height: 12rem;
	object-fit: cover;
}
