.footer {
	grid-column: 1 / -1;
	margin-top: var(--mt-section-400);
	background-color: var(--bg-body-400);
}

.footerWrapper {
	grid-column: 2 / 14;
	margin-bottom: 6rem;
}

.subFooterContainer {
	display: flex;
	justify-content: space-between;
}
.logoContainer {
}

.navLogoWrapper {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-bottom: 2rem;
}

.logoText {
	color: var(--c-text-400);
	font-size: 2.5rem;
	font-weight: 700;
}

.socialsContainer {
	display: flex;
	gap: 2rem;
	margin-top: 2rem;
}

.socialIcon {
	width: 5rem;
	cursor: pointer;
}

.linksContainer {
	display: flex;
	gap: 8rem;
}

.line {
	margin: 5rem 0 2rem 0;
}

.subFooter {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.copyrightContainer {
	color: var(--c-text-400);
}
.copySymbol {
	font-size: 2rem;
}

.paymentContainer {
	display: flex;
	align-items: center;

	gap: 2rem;
}

.paymentIcon {
	width: 5rem;
}

.pages {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
