.aboutText {
	grid-column: 1 / -1;
	background-color: var(--clr-section-bg);
	background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(176, 229, 208, 1) 42%, rgba(92, 202, 238, 0.41) 93.6%);
}

.aboutTextWrapper {
	grid-column: 2 / 14;
	display: flex;
}

.aboutTextContainer {
	flex: 1;
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
	padding: 2rem;
}

.container {
}

.title {
}

.paragraphText {
	margin: 1rem;
	width: 80%;
}

.imgWrapper {
	display: flex;
	justify-content: flex-end;
	align-items: baseline;
}

.img {
}
