.aboutText {
	grid-column: 1 / -1;
	background-color: var(--bg-section-400);
}

.aboutTextWrapper {
	grid-column: 2 / 14;
	display: flex;
}

.aboutTextContainer {
	flex: 1;
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
	padding: 2rem;
}

.paragraphText {
	margin: 1rem;
	width: 80%;
}

.imgWrapper {
	display: flex;
	justify-content: flex-end;
	align-items: baseline;
}
